.deleteTaskPopup {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	height: 100dvh;
	width: 100%;
	z-index: 100;

	display: flex;
	justify-content: center;
	align-items: center;

	&__body {
		border-radius: $borderRadius;
		padding: 15px 20px;
		background-color: $primaryBgColorHover;
		max-width: 300px;

		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__buttons {
		align-self: flex-end;
		display: flex;
		gap: 15px;
	}
}

@mixin btnStyles {
	padding: 5px 10px;
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 16px;
}

.cancelBtn {
	@include btnStyles();
}

.deleteBtn {
	@include btnStyles();
	color: red;
}