.taskPopupContent {
	padding: adaptValue(40, 25) adaptValue(20, 10) 10px adaptValue(20, 10);

	border-top-left-radius: $borderRadius;
	border-bottom-left-radius: $borderRadius;

	background-color: $primaryBgColor;
	max-width: 480px;

	@media (max-width: 425px) {
		width: 100%;
	}

	height: 100vh;
	height: 100dvh;

	float: right;

	display: flex;
	flex-direction: column;
	gap: 15px;

	&__dataSections {
		flex: 1 1 auto;

		display: flex;
		flex-direction: column;
		overflow-y: auto;
		scroll-snap-type: y proximity;

		&>* {
			scroll-snap-align: start;
			flex: 0 0 auto;
		}

		gap: adaptValue(25, 18);
	}

	&__footer {
		padding-top: calc(adaptValue(20, 10)*2 - 15px);
		padding-bottom: adaptValue(20, 10);
		padding-right: 10px;
		padding-left: 10px;

		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 5px;
	}
}

.editTime {
	font-size: 18px;
}

.arrowLeftIcon {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.binIcon {
	cursor: pointer;
	width: 25px;
	height: 20px;
}

@mixin sectionStyles {
	width: 100%;
	padding: 15px adaptValue(15, 12);
	background-color: $primaryBgColorHover;
	border-radius: $borderRadius;
}

@mixin rowStyles {
	display: flex;
	gap: 10px;
	align-items: center;
}

.noteSection {
	@include sectionStyles();

	color: $primaryTextColor;
	font-size: adaptValue(18, 16);

	border: none;
	resize: none;
}

.taskSection {
	@include sectionStyles();

	&__taskField {
		margin-bottom: 20px;
		@include rowStyles();

		&>*:first-child {
			flex: 0 0 auto;
		}

		input {
			outline: none;
			border: none;
			color: $primaryTextColor;
			font-size: 18px;
			font-weight: 400;
			line-height: normal;
		}
	}

	&__stepsList {
		padding-left: 2.5px;
		display: flex;
		flex-direction: column;

		li {
			margin-bottom: 15px;
			list-style: none;
		}
	}

	&__addStep {

		input {
			width: 100%;
		}
	}
}

.steps {
	@include rowStyles();
	max-width: 100%;

	padding-bottom: 7px;
	border-bottom: 2px solid rgba(255, 255, 255, 0.15);

	&>*:first-child {
		flex: 0 0 auto;
	}

	&__name {
		flex: 1 1 auto;
		font-size: 16px;
		color: $primaryTextColor;
		outline: none;
		border: none;

		&[data-iscomplete=true] {
			text-decoration: line-through;
		}
	}

	&__deleteBtn {
		flex: 0 0 20px;
		$size: 20px;
		width: $size;
		height: $size;

		position: relative;
		background-color: transparent;
		border: none;

		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;

			width: 100%;
			height: 2px;
			background-color: white;
			border-radius: 5px;
		}

		&::before {
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.addStep {
	@include rowStyles();
	opacity: 0.65;

	&__icon {
		flex: 0 0 auto;
		$size: adaptValue(30, 25);
		height: $size;
		width: $size;
	}

	&__input {
		border: none;
		outline: none;

		font-size: 16px;

		&::placeholder {
			color: $primaryTextColor;
		}
	}
}